<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
      <button
        class="btn btn-dark d-inline-block d-lg-none ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars"></i>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/mod/profile"
              ><i class="fa fa-fw fa-user"></i>&nbsp;<%= currentuser.name %></a
            >
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="/themphongban"
              ><i class="fa fa-plus-square-o"></i>&nbsp;Thêm phòng/khoa</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/themchude"
              ><i class="fa fa-plus-square-o"></i>&nbsp;Thêm chủ đề</a
            >
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/themuser"
              ><i class="fa fa-plus-square-o"></i>&nbsp;Tạo account</a
            >
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link" href="/mod">Trang chủ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>