<!-- List thông báo mới -->
<div class="list-group">
    <div class="row">
      <div class="col-sm-8">
        <h3>Thông báo mới</h3>
      </div>
      <div class="col-sm-4">
        <a href="/users/thongbao/1">Xem tất cả</a>
      </div>
    </div>
  
    
    <table class="newsfeeds">
      <% for (var i = 0; i < 4; i++) { %>
      <tr>
        <th>
          <a
            href="/users/thongbao/chitiet/<%= products[i]._id %>"
            ><%= products[i].name %></a
          >
        </th>
      </tr>
      <% } %>
    </table>
  </div>
  
  <!-- Lịch -->
  <div class="wrapper">
    <div class="container-calendar">
      <h3 id="monthAndYear"></h3>
  
      <div class="button-container-calendar">
        <div class="footer-container-calendar">
          <button id="previous" onclick="previous()">&#8249;</button>
          
          <select id="month" onchange="jump()">
            <option value="0">Jan</option>
            <option value="1">Feb</option>
            <option value="2">Mar</option>
            <option value="3">Apr</option>
            <option value="4">May</option>
            <option value="5">Jun</option>
            <option value="6">Jul</option>
            <option value="7">Aug</option>
            <option value="8">Sep</option>
            <option value="9">Oct</option>
            <option value="10">Nov</option>
            <option value="11">Dec</option>
          </select>
          <select id="year" onchange="jump()"></select>
  
          <button id="next" onclick="next()">&#8250;</button>
        </div>
      </div>
      <table class="table-calendar" id="calendar" data-lang="en">
        <thead id="thead-month"></thead>
        <tbody id="calendar-body"></tbody>
      </table>
    </div>
  </div>
  