<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/logo_web.jpg" type="image/jpg" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="robots" content="noindex, follow" />
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <%- include("partials/sidebar") %>

      <div id="content" class="p-4 p-md-5">
        <%- include("partials/navbar") %>

        <!-- Thông tin cá nhân  -->
        <div class="container"> 
          <h2>Tạo chủ đề mới</h2>
          <form action="/themchude" method="POST">
              <div class="form-group">
                  <label>Tên chủ đề:</label>
                  <input class="form-control" type="text" name='topicName'>
              </div>
              <div class="form-group">
                  <label>Mô tả:</label>
                  <textarea class="form-control" type="text" rows="3" name='topicContent' placeholder="Viết nội dung thông báo ở đây..."></textarea>
              </div>
              <input id="add-btn" class="btn btn-primary" type="submit" value="Tạo chủ đề">
          </form>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
